@import "tailwindcss";

/* Enable class-based dark mode for next-themes */
@custom-variant dark (&:where(.dark, .dark *));

#nextjs-dev-indicator {
  display: none !important;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 20px;
}